/* Home.module.css */
.homeContainer {
  background-color: #1A237E ; /* Blue background */
  color: #ffffff; /* Default text color as white for contrast */
}

.navbar {
  background-color: #ffffff;
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navLink {
  color: #ffffff; /* White text for nav links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #0b129c;
}

.welcomeSection {
  text-align: center;
  margin: 2rem 0;
}

.shapeDivider {
  margin-top: 2rem;
}
footer {
  background-color: #0D1333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

